<!-- Toolbar -->
<div class="toolbar-row">
    <div class="search-box-container">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input 
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Search expense"
        >
      </mat-form-field>
    </div>

    <!-- Filter by catgory -->
    <div class="category-filter-container">
      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>

          <mat-select (selectionChange)="filterByCategory($event.value)">
            <mat-option value="">
              All
            </mat-option>

            @for(category of categories(); track category.categoryId){
                <mat-option [value]="category.categoryName">
                    {{ category.categoryName }}
                </mat-option>
            }

          </mat-select>

      </mat-form-field>
    </div>

    <!-- Filter by Status -->
    <div class="status-filter-container">
      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>

          <mat-select (selectionChange)="filterByStatus($event.value)">
            <mat-option value="">
              All
            </mat-option>

            @for(status of statuses; track status){
                <mat-option [value]="status">
                    {{ status }}
                </mat-option>
            }

          </mat-select>

      </mat-form-field>
    </div>

<!-- Add new expense button -->
    <div class="new-expense-container" style="margin-left:auto">
       <button matButton="filled" color="primary" (click)="addExpense()">
        + New Expense
       </button>
    </div>
</div>

<!-- Expense table -->
<div class="table-container">
     @if (loading()) {
      <mat-progress-spinner mode="indeterminate" diameter="40" />
    } @else {

    @if (error()) {
      <p class="error-message">{{ error() }}</p>
    } @else {
        @if(success()){
            <p class="success-message">{{ success()}}</p>
        }
    }
    <table mat-table [dataSource]="dataSource" matSort>
        <!-- title column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Title
            </th>
            <td mat-cell *matCellDef="let expense">
                {{ expense.title }}
            </td>
        </ng-container>

        <!-- category column -->
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Category
            </th>
            <td mat-cell *matCellDef="let expense">
                {{ expense.category }}
            </td>
        </ng-container>

        <!-- amount column -->
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Amount
            </th>
            <td mat-cell *matCellDef="let expense">
                {{ expense.amount | currency: 'EUR' }}
            </td>
        </ng-container>

        <!-- status column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Status
            </th>
            <td mat-cell *matCellDef="let expense">
                <span [ngClass]="'status-' + expense.status.toLowerCase()">{{ expense.status }}</span>
            </td>
        </ng-container>

        <!-- user column -->
        <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                User
            </th>
            <td mat-cell *matCellDef="let expense">
                {{ expense.createdBy }}
            </td>
        </ng-container>

        <!-- expense Date column -->
        <ng-container matColumnDef="expenseDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Date
            </th>
            <td mat-cell *matCellDef="let expense">
                {{ expense.expenseDate | date: 'dd/MM/yyyy' }}
            </td>
        </ng-container>

        <!-- actions column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
                Actions
            </th>
            <td mat-cell *matCellDef="let expense">
                <div class="action-buttons">
                    <button mat-raised-button class="btn-edit"  (click)="editExpense(expense)" [disabled]="expense.status !== 'Pending'">
                        Edit
                    </button>
                    <button mat-raised-button class="btn-delete" (click)="deleteExpense(expense)">
                        Delete
                    </button>
                    <button mat-raised-button class="btn-budget" (click)="manageExpense(expense)">
                        Manage expense
                    </button>
                </div>
            </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns" 
        >
        </tr>

        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
        >
        </tr>
     
    </table>
    }
    <!-- Paginator -->
    <mat-paginator
      [pageSize]="5"
      [pageSizeOptions]="[5,10,15]"
      showFirstLastButtons
    >

    </mat-paginator>
</div>
