## Visual Studio temporary files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
publish/
*.zip

## Visual Studio cache files
*.cache
*.vsidx
*.vspscc
*.vssscc

# User secrets
**/appsettings.Development.json
secrets.json

# Local configuration
appsettings.*.json
!appsettings.json